.center.hero-unit
  h1 Welcome to the Tvvitter
  = link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"
/! <haml:loud> link_to image_tag(&amp;quot;rails.png&amp;quot;, alt: &amp;quot;Rails&amp;quot;), &amp;#39;http://rubyonrails.org/&amp;#39; </haml:loud
