<li>
  <%=	render 'shared/content', tvveet: tvveet %>

  <% if current_user?(tvveet.user) %>
    <%=	link_to "delete", tvveet, method: :delete, confirm: "You sure?", title: tvveet.content %>
  <% end %>
</li>